
<div id="outer">
    <div class="text-left">
      &nbsp;&nbsp;&nbsp;<button routerLink="../Functions" class="btn btn-primary">Back To All Functions Portal page</button>&nbsp;&nbsp;&nbsp;
      <button routerLink="../AddEditFarm" class="btn btn-success">Add new farm</button>
    </div>
    <div class="line">
      <hr>
    </div>
    <div>
      <p class="p-2 bg-info text-light text-center">Farms Manager Page</p>
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Farm ID</th>
                  <th>Farm Name</th>
                  <th>Farm Address</th>
                  <th>Farm City</th>
                  <th>Farm Province</th>
                  <th>Operations</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let farm of farmsList">
                  <td>{{farm.fermeId}}</td>
                  <td>{{farm.nomFerme}}</td>
                  <td>{{farm.addresseFerme}}</td>
                  <td>{{farm.villeFerme}}</td>
                  <td>{{farm.provinceFerme}}</td>
                  <td class="options">                   
                      <button routerLink="../AddEditFarm" class="btn btn-primary" (click)="editClick(farm)">Edit</button>&nbsp;&nbsp;
                      <button class="btn btn-danger" (click)="deleteClick(farm)">Delete</button>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>