<div id="outer" *ngIf="showForm">
    <div class="text-left">
        &nbsp;&nbsp;&nbsp;<button routerLink="../FarmsManager" class="btn btn-primary">Back</button>
    </div>

    <div class="line">
        <hr>
    </div>

    <div>
        <p class="p-2 bg-info text-light text-center">The form to add new farm</p>
    </div>

    <div id="inner">
        
    <div class="form-group row" style="width: 70%;">

        <label class="col-sm-4 col-form-label">Farm Name</label>
        <div class="col-sm-8">
           <input type="text" class="form-control" [(ngModel)]="nomFerme" placeholder="Enter Farm Name">
        </div>

        <br>
        <br>

       <label class="col-sm-4 col-form-label">Farm Address</label>
       <div class="col-sm-8">
           <input type="text" class="form-control" [(ngModel)]="addresseFerme" placeholder="Enter Farm address">
       </div>
    
       <br>
       <br>

       <label class="col-sm-4 col-form-label">Farm located city</label>
       <div class="col-sm-8">
           <input type="text" class="form-control" [(ngModel)]="villeFerme" placeholder="Enter Farm located city">
       </div>

       <br>
       <br>

       <label class="col-sm-4 col-form-label">Farm located province</label>
       <div class="col-sm-8">
           <input type="text" class="form-control" [(ngModel)]="provinceFerme" placeholder="Enter Farm located province">
       </div>

       <br>
       <br>
       </div>


    <div>
        <button (click)="addNewFarm()" *ngIf="!showUpdateButton" class="btn btn-primary">Add</button>&nbsp;&nbsp; 
        <button (click)="updateFarm()" *ngIf="showUpdateButton" class="btn btn-primary">Update</button>&nbsp;&nbsp;
        <button routerLink="../FarmsManager" class="btn btn-warning">Cancel</button>
    </div>

 </div>
    
</div>


<div *ngIf="showSuccessMsg" class="alert alert-success" id="msgSuccess">
    <div class="text-center">
        <p>Farm is saved successfully !</p>
    </div>
    <div class="text-center">
    <button class="btn btn-success" routerLink="../FarmsManager" (click)="closeSuccessMsg()">Close message</button>
    </div>
</div>

<div *ngIf="showFailMsg" class="alert alert-danger" id="msgFail">
    <div class="text-center">
        <p>Failed to save farm !</p>
    </div>
    <div class="text-center">
    <button class="btn btn-warning" routerLink="../FarmsManager" (click)="closeFailMsg()">Close message</button>
    </div>
</div>
