<div id="fixedHeader" >
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <span>Fermes Quebec &nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span>
        <ul class="nav nav-pills">
          <li class="nav-item" routerLinkActive="active"><a routerLink="Acceuil" routerLinkActive="active" class="nav-link">Home</a></li>
          <li class="nav-item" routerLinkActive="active"><a routerLink="Login" routerLinkActive="active" class="nav-link">Login</a></li>
          <li class="nav-item" routerLinkActive="active"><a routerLink="Lang" routerLinkActive="active" class="nav-link">Language</a></li>
        </ul>
      </span>
  </header>       
</div>



<div class="component-container">
    <router-outlet></router-outlet>
</div>

<hr>
<div id="fixedFooter">
  <footer class="text-center text-black"> 
     <div class="text-center p-4">
      This website is developped by Team A - Jose Carlos Braul,Steve Gordon,Jean-Louis Jousso,Yang Wang
     </div>
  </footer>
</div>


