<!-- <div class="container">

  <h3 class="d-flex justify-content-center">Angular WebApi Mysql Server app POC</h3>
  <h5 class="d-flex justify-content-center">Usager management Portal</h5>


  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="navbar-item">
          <button routerLink="niveauacces"
          class="m-1 btn btn-light btn-outline-primary" Button>Niveau Acces</button>
      </li>
      <li class="navbar-item">
        <button routerLink="usagers"
        class="m-1 btn btn-light btn-outline-primary" Button>Usagers</button>
    </li>
    </ul>

  </nav>
  <router-outlet></router-outlet>
</div> -->

<div class="container">

  <h1 class="d-flex justify-content-center">Fermes Québec</h1>


  <router-outlet></router-outlet>
</div>
