<div id="outer">
    <div  *ngIf="showForm">
        <div class="text-center">
            <p *ngIf="!showUpdateButton" class="p-2 bg-info text-light text-center">The form to add new access</p>
            <p *ngIf="showUpdateButton"class="p-2 bg-info text-light text-center">The form to update access</p>
        </div>
        <div class="form-group row">
           <label class="col-sm-2 col-form-label">Niveau Acces</label>
            <div class="col-sm-10">
               <input type="text" class="form-control"placeholder="Enter Niveau acces" [(ngModel)]="access">
            </div>
        </div>
        <button  *ngIf="!showUpdateButton" (click)="addNewAccess()" class="btn btn-primary">Add</button>&nbsp;&nbsp;
        <button  *ngIf="showUpdateButton" (click)="updateAccess()" class="btn btn-primary">Update</button>&nbsp;&nbsp;
        <button  routerLink="../ShowAccessLevelList" class="btn btn-warning">Cancel</button>
    </div>


    <div *ngIf="showSuccessMsg" class="alert alert-success">
        <div class="text-center">
            <p>Access is saved successfully !</p>
        </div>
        <div class="text-center">
        <button class="btn btn-success" routerLink="../ShowAccessLevelList" (click)="closeSuccessMsg()">Close message</button>
        </div>
    </div>
    
    <div *ngIf="showFailMsg" class="alert alert-danger">
        <div class="text-center">
            <p>Failed to save access !</p>
        </div>
        <div class="text-center">
        <button class="btn btn-warning" routerLink="../ShowAccessLevelList" (click)="closeFailMsg()">Close message</button>
        </div>
    </div>
</div>



