<!-- Page pour mettre à jour ou ajouter un niveau d'accès -->
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Niveau Acces</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="access"
        placeholder="Enter Niveau acces">
    </div>
</div>

<button (click)="addNiveauAcces()" *ngIf="nivacces.accesId==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateNiveauAcces()" *ngIf="nivacces.accesId!=0" class="btn btn-primary">
    Update
</button>

<button   class="btn btn-warning">
    Cancel
</button>
