<div class="bg-info p-2 text-center text-white">
  <h1>Connexion</h1>
</div>

<div class="bg-danger mt-2 p-2 text-center text-white" *ngIf="messageErreur != null">
  {{messageErreur}}
</div>


<div class="p-2">

  <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">

    <div class="form-group">
      <label>Identifiant: </label>
      <input type="text" class="form-control" name="username" [(ngModel)]="username" required minlength="2">
    </div>

    <div class="form-group">
      <label>Mot de passe: </label>
      <input type="password" name="password" class="form-control" [(ngModel)]="password" required minlength="4">
    </div>

    <div class="text-center p-2">
      <button class="btn btn-primary m-1" type="submit">Login</button>
      <button class="btn btn-secondary m1" (click)="retour()">Retour</button>
    </div>

  </form>

  

</div>
