
<div id="outer">
    <div class="text-left">
      &nbsp;&nbsp;&nbsp;<button routerLink="../Functions" class="btn btn-primary">Retourner a la page des fonctions</button>&nbsp;&nbsp;&nbsp;
      <button routerLink="../AddEditGraphics" class="btn btn-success">Ajouter une nouvelle grahpique</button>
    </div>
    <div class="line">
      <hr>
    </div>
    <div>
      <p class="p-2 bg-info text-light text-center">Le page du gestionnaire des graphiques</p>
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Graphique ID</th>
                  <th>Nom Graphique</th>
                  <th>Date Graphique</th>
                  <th>Graphique</th>
                  <th>Opereation</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let g of GraphicList">
                  <td>{{g.Id}}</td>
                  <td>{{g.name}}</td>
                  <td>{{g.date}}</td>
                  <td><img src={{g.graphicPath}} class="d-block" width="260" alt="Développement"></td>
                  <td class="options">
                    <button routerLink="../AddEditCategory" class="btn btn-primary">{{'cat.btn_edit'|translate}}</button>&nbsp;&nbsp;
                    <button class="btn btn-danger">{{'cat.btn_delete'|translate}}</button>
                </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
