<!-- Page d'ajout ou de modification de sous-catégories -->
<form #add_edit_Form="ngForm">
  <div id="outer">
    <div *ngIf="showForm">
      <div class="text-center">
        <p *ngIf="!showUpdateButton" class="p-2 bg-info text-light text-center">{{'scat.add_title_add'|translate}}</p>
        <p *ngIf="showUpdateButton" class="p-2 bg-info text-light text-center">{{'scat.add_title_update'|translate}}</p>
      </div>
      <!-- Nom de la sous-catégorie -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{'scat.col_name'|translate}}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Enter New Category" name="subCat"
            [(ngModel)]="nomSousCategorie">
        </div>
      </div>
      <!-- Liste des catégories associées à la sous-catégorie choisie -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{'cat.title'|translate}}</label>
        <div class="col-sm-10">
          <select class="form-control" name="sub_catId" [(ngModel)]="categorieId">
            <option>--Select--</option>
            <option *ngFor="let cat of categoryList" [value]="cat.categorieId">{{cat.nomCategorie}}</option>
          </select>
        </div>
      </div>

      <!-- Bouton ajouter ou modifier -->
      <button *ngIf="!showUpdateButton" (click)="addNewSubCategory()"
        class="btn btn-primary">{{'scat.add_btn_add'|translate}}</button>&nbsp;&nbsp;
      <button *ngIf="showUpdateButton" (click)="updateSubCategory()"
        class="btn btn-primary">{{'scat.add_btn_update'|translate}}</button>&nbsp;&nbsp;
      <button routerLink="../SubCategoriesManager" class="btn btn-warning">{{'scat.add_btn_cancel'|translate}}</button>
    </div>


    <!-- Message indiquant que l'opération a été effectuée avec succès -->
    <div *ngIf="showSuccessMsg" class="alert alert-success">
      <div class="text-center">
        <p>{{'scat.msg_success'|translate}}</p>
      </div>
      <div class="text-center">
        <button class="btn btn-success" routerLink="../SubCategoriesManager"
          (click)="closeSuccessMsg()">{{'scat.btn_close'|translate}}</button>
      </div>
    </div>

    <!-- Message indiquant qu'une erreur est survenue -->
    <div *ngIf="showFailMsg" class="alert alert-danger">
      <div class="text-center">
        <p>{{'scat.msg_fail'|translate}}</p>
      </div>
      <div class="text-center">
        <button class="btn btn-warning" routerLink="../SubCategoriesManager"
          (click)="closeFailMsg()">{{'scat.btn_close'|translate}}</button>
      </div>
    </div>
  </div>
</form>
